/*SECTION TOP-BAR*/
.top-bar {
	background-color: #ff3385;
	padding: 1rem 0;
}
/*SOCIAL LIST*/
.top-bar__socical-list {
	display: flex;
	flex-flow: row;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.top-bar__socical-list > li {
	margin-right: 1rem;
}
.top-bar__socical-list > li > a {
	color: white;
}
/*LINKS*/
.top-bar__links > a, .top-bar__links > span {
	color: white;
}

/*TOP NAV*/
.top-nav{
	padding: 1rem 0;
	height: 90px;
}
.top-nav__logo{
	align-items: center;
	width: 80px;
	height: 60px;
}
.top-nav__menu-list{
	display: flex;
	flex-flow: row;
	align-items: center;
	list-style-type: none;
	height: 60px;
	padding: 0;
	margin: 0;
}
.top-nav__menu-list > li {
	margin-right: 1rem;
}
.top-nav__menu-list > li > a {
	color: black;
}
.top-nav__menu-list > li > a:hover {
	color: deeppink;
	text-decoration: none;
}
.top-nav__search > a {
	font-size: 20px;
	text-align: right;
	color: black;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*BANNER*/
.banner {
	border:1px solid gray;
    /*padding:60px 80px;*/
    font-size:30px;
    background-image: url(../images/page-top-bg.jpg);
    background-color:#eee;
    position: relative;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner > .container-fluid > .banner__title {
	color: white;
	height: 50px;
	width: 190px;
	text-align: center;
	background-color: #ff0066;
	margin: 0 auto;
}

/*ABOUT*/
.about {
	padding: 80px 0px;
}
.about > .container {
	display: flex;
    align-items: center;
    width: 1000px;
}
.about > .container > .row > .col > .about__content {
	height: 200px;
	width: 400px;
	padding: 0px 20px;
}
.about > .container > .row > .col > .about__content > .about__title{
	font-size: 33px;

}
.about > .container > .row > .col > .about__content > .about__description{
	line-height: 1.5;
}
.about > .container > .row > .col > .about__content > .about__readmore {
	border-radius: 20px;
	background-color: #ff0066;
	color: white;
	padding: 10px 20px;
	border:1px solid gray;
}
 
.about > .container > .row > .col > .about__thumbnail {
	width: 400px;
	border-radius: 5px;
}