*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:hover {
	text-decoration-line: none;
}

body {
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 767px){ 
	.top-bar > .container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;	
	    justify-content: center;
		padding: 0 15px;
	}
	.top-bar > .container > .col-logo {
		width: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
		margin: 0;
	}
	/*HEADER*/
	.top-bar > .container > .col-logo > .top-bar__logo {
		margin: 0;
	}


	.top-bar__list-menu {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: left;
		list-style-type: none;
		padding: 0;
	}
	.top-bar__list-menu > li {
		padding-left: 0px;
		margin: 0;
	}
	.top-bar__list-menu > li:last-child {
		padding-right: auto;
	}
	.top-bar__list-menu > li > a {
		color: #626262;
		text-transform: uppercase;
		font-size: 15px;
		padding-left: 0px;
	}
	.top-bar__list-menu > li > a:hover {
		color: #04011a;
		text-transform: uppercase;
		font-size: 15px;
		padding-left: 0px;
	}

	.banner > .container {
	    width: 100%;
	}

	.banner > .container > img {
		 width: 100%;
		 max-width: 100%;
	}

	.content_detail > .container {
		width: 100%;
		padding: 15px 10px;
	}
	.content_detail > .container > .big-title {
		font-size: 22px;
		color: #626262;
		line-height: 30px;
	}
	.content_detail > .container > .big-title > .small-title {
		font-size: 15px;
		color: #bdb7aa;
		text-transform: uppercase;
		display: block;
	}
	.content_detail > .container > .detail-content {
		color: #a1a1a1;
		padding-top: 35px;
		line-height: 22px;
		font-size: 15px;
	}
	.content_detail > .container > .leave-comment {
		color: #b8b2a4;
		padding-top: 55px;
		font-size: 13px;
	}

	.content_thumnail > .container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 15px 10px;
	}
	.content_thumnail > .container > .thumnail_detail {
		width: 100%;
		padding-right: 20px;
		margin-top: 50px;
		margin-right: 0;
	}
	.content_thumnail > .container > .thumnail_detail:nth-child(2n) {
		margin-top: 50px;
	}

	.content_thumnail > .container > .thumnail_detail:nth-child(1), 
	.content_thumnail > .container > .thumnail_detail:nth-child(2) {
		margin-top: 50px;
	}
	.content_thumnail > .container > .thumnail_detail img {
		width: auto;
		margin-bottom: 28px;
		 max-width: 100%;
	}
	.content_thumnail > .container > .thumnail_detail > .big-title {
		font-size: 27px;
		color: #626262;
		line-height: 30px;
	}
	.content_thumnail > .container > .thumnail_detail > .big-title  > .small-title {
		font-size: 14px;
		color: #bdb7aa;
		text-transform: uppercase;
		display: block;
	}
	.content_thumnail > .container > .thumnail_detail > .detail-content {
		color: #b8b2a4;
		margin-top: 35px;
		font-size: 15px;
	}

	.content_formSearch{
		background-color: #f0f0f0;
		margin-top: 128px;
		margin-bottom: 104px;
		width: 100%;
	}
	.content_formSearch > .container {
		width: 100%;
		padding: 15px 10px;
	}
	.content_formSearch > .container > .title {
		font-size: 26px;
		line-height: 30px;
		padding-left: 30px;
	}
	.content_formSearch > .container > .formSearch {
		display: flex;
		align-items: center;
		position: relative;
	}
	.content_formSearch > .container > .formSearch > .input_search {
		display: inline;
		width: 100%;
		margin-top: 45px;
		border-bottom: 1px solid black;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		background-color: #f0f0f0;
	}

	.content_formSearch > .container > .formSearch > .btn-Search {
		background-color: #f0f0f0;
		color: black;
		position: absolute;
		right: 0;
	    top: 33px;
	    border-bottom: 1px solid black;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-radius: 0px;
	}


	.content-loadmore {
		margin-top: 75px;
	}
	.content-loadmore > .container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 10px;
	}
	.content-loadmore > .container > .link-loadmore {
		background-color: #ffffff;
	    padding: 8px 20px;
	    text-decoration:none;
	    font-weight:bold;
	    border-radius:0px;
	    cursor:pointer;
	    border: 1px solid black;
	    color: #818181;
	    font-size: 11px;
	}

	.content-footer {
		width: 100%;
		background-color: #f0f0f0;
	}
	.content-footer > .container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.content-footer > .container > .left-footer {
		width: 50%;
	}

	.content-footer > .container > .left-footer > .col-menu > .list-menu {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.content-footer > .container > .left-footer > .col-menu > .list-menu > li {
		margin-right: 0;
	}
	.content-footer > .container > .left-footer > .col-menu > .list-menu > li:last-child {
		margin-right: 0;
	}
	.content-footer > .container > .left-footer > .col-menu > .list-menu > li > a {
		color: #626262;
		font-size: 12px;
	}

	.content-footer > .container > .right-footer {
		width: 50%;
	}

	.content-footer > .container > .right-footer > .col-menu > .list-menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.content-footer > .container > .right-footer > .col-menu > .list-menu > li {
		margin-right: 5%;
	}
	.content-footer > .container > .right-footer > .col-menu > .list-menu > li:last-child {
		margin-right: 0;
	}
	.content-footer > .container > .right-footer > .col-menu > .list-menu > li > a {
		color: #626262;
		font-size: 12px;
	}

}



















